## Pandas

This notebook will teach you about how to use **pandas** in the Python. By the end of this notebook, you'll know how to clean data using pandas, aggregation in pandas, and how to visualize the data.

To run this notebook, you need to download FruitTestData.csv from the 'Dataset' folder on Blackboard and upload it to Kaggle. Please find how to upload data to Kaggle in the'upload dataset and notebook to Kaggle.doc' on Blackboard.

import library and read csv data.

In [ ]:
import pandas as pd
#You need to change the csv path accordingly.
df = pd.read_csv('/kaggle/input/fruit-test-data/FruitTestData.csv',index_col=0)
df

In [ ]:
# get the data information
df.info()

We can use **.columns** to get all the columns:

In [ ]:
df.columns

### Missing values

Here’s some typical reasons why data is missing：

User forgot to fill in a field.

Data was lost while transferring manually from a legacy database.

There was a programming error.

Users chose not to fill out a field tied to their beliefs about how the results would be used or interpreted.

Missing values representation in pandas **NaN (not a number)**:

### Detect missing values

Pandas provides the [**isnull()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html) function to detect missing values:
	            
                                 pandas.isnull(obj)

In [ ]:
df.isnull()

False-- value is not null; True -- value is null.

Calculate the number of null values in each column, we use an aggregate function **.sum()** for summing

In [ ]:
df.isnull().sum()

### Working with missing values

There are two ways in dealing with missing values:

1. Get rid of rows or columns with nulls

2. Replace nulls with non-null values

### Drop Missing Values
Sometimes, if you want to simply exclude the missing values, then use the [**.dropna()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) function along with the axis argument.

By default, axis=0, i.e., along row, which means that if any value within a row is NA then the whole row is excluded. You can set axis=1 to drop the whole column.

In [ ]:
df.dropna(axis=0)

In [ ]:
df

Please note:  **.dropna()** will delete any row/column with at least a single null value
but it will return **a new DataFrame** without altering the original one
We can use the **inplace = True** to actually affect the original DataFrame.

In [ ]:
df.dropna(inplace = True)
df

### Filling Missing Data
Sometimes, dropping every row with a null value removes too big a chunk from the dataset, so instead we can fill null values with another value, usually a scalar value or the mean of that column. We can use [**.fillna**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) function.

In [ ]:
#fill nan with 0
df = pd.read_csv('/kaggle/input/fruittestdata/FruitTestData.csv')
df = df.fillna(0)
df

### Filling Missing Data with mean
There may be instances where dropping every row with a null value removes too big a chunk from your dataset, so instead we can impute that null with another value, usually the mean or the median of that column.

In [ ]:
df = pd.read_csv('/kaggle/input/fruittestdata/FruitTestData.csv')

# extract that column into its own variable
solddf = df['sold_numbers']
# calculate the mean of that column 
soldmean = solddf.mean()
print(soldmean)
# replace the null with the mean  
solddf.fillna(soldmean, inplace = True )
df

We have now replaced all nulls in solddf with the mean of the column. 
Notice that by using inplace=True we have actually affected the original df.

DataFrame.count(): Return the count of each column.

In [ ]:
import pandas as pd
df = pd.read_csv('/kaggle/input/fruittestdata/FruitTestData.csv')
df.count()

**DataFrame.sum()**: Return the sum of the values for a column.

For example, find the sum of the values for ‘sold_numbers’ column:

In [ ]:
df.sold_numbers.sum()

In [ ]:
df['sold_numbers'].sum()

**DataFrame.min()** to find the minimum values of the dataset.

**DataFrame.max()** to find the maximum value of the dataset.

In [ ]:

# find the minimum values of ‘sold_numbers’ column
print(df.sold_numbers.min())
# find the maximum values of ‘sold_numbers’ column
print(df.sold_numbers.max())

In [ ]:
# find the maximum values of ‘sold_numbers’ and 'remaining_numbers' column
print(df[['sold_numbers','remaining_numbers']].max())

In [ ]:
import pandas as pd
df = pd.read_csv('/kaggle/input/fruittestdata/FruitTestData.csv')
df.fillna(0)
# calculate the mean of ‘sold_numbers’ column
print(df.sold_numbers.mean())
# find the mean  of ‘remaining_numbers’ column
print(df.remaining_numbers.mean())

**DataFrame.mean()**: to find the mean of the values in a column

### Understanding your variables
Using [**.describe()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) on an entire DataFrame we can get a summary of the distribution of continuous variables:

In [ ]:
import pandas as pd
df = pd.read_csv('/kaggle/input/fruittestdata/FruitTestData.csv')
df.describe()

.describe() can also be used on a categorical variable to get the count of rows, unique count of categories, top category, and freq of top category:

We can use the correlation method .corr() to generate the relationship between each continuous variable:

In [ ]:
df.corr()

### Visualizing your data with matplotlib

Visualizing the data to represent your findings is a good and direct way analyze your data.
Until now, we have learned how to clean the data.
Pandas integrates with Matplotlib, so we can plot directly DataFrames using Matplotlib. 

let’s say we want to have a chart to compare the sold_numbers of different fruits. We can do so with [**.plot()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html)

**.plot()** has several optional parameters. For example, we can use the kind parameter to choose your required plot type.


You can check more other **.plot()** parameters from this DataFrame Plot [document](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html ) It is helpful to keep this document in hand when visualizing your data.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('/kaggle/input/fruittestdata/FruitTestData.csv')
df.plot(x = 'fruit_names', y  = 'sold_numbers', ylabel = 'zz')
# plt.plot(df['fruit_names'], df['sold_numbers'])
# plt.ylabel('zz')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('/kaggle/input/fruittestdata/FruitTestData.csv')
df.fillna(0,inplace = True)
df

We can plot values from multiple columns in a same plot using multiple lines. let’s say we want to have a chart to compare the sold_numbers and remaing_numbers of different fruits. Please note: Using [ ] to select multiple columns.

In [ ]:
df.plot(x= 'fruit_names', y = ['sold_numbers', 'remaining_numbers'])

In [ ]:
# bar chart
df.plot(x= 'fruit_names', y = ['sold_numbers', 'remaining_numbers'], kind = 'bar')
plt.show()

we previously use .describe() function to get the statistic information of a column.
We can use boxplot  to show a graphical representation of a specific column:

In [ ]:
df['sold_numbers'].plot(kind = 'box', title = 'sold_numbers statistics')
plt.show()